USE [master]
GO
/****** Object:  Database [CustomerOrderDB]    Script Date: 10/19/2020 11:40:47 AM ******/
CREATE DATABASE [CustomerOrderDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CustomerOrderDB', FILENAME = N'C:\Users\idb_c#\CustomerOrderDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CustomerOrderDB_log', FILENAME = N'C:\Users\idb_c#\CustomerOrderDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CustomerOrderDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CustomerOrderDB]
GO
USE [CustomerOrderDB]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 10/19/2020 11:40:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomersID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](20) NOT NULL,
	[Address] [varchar](100) NOT NULL,
	[CustomersImage] [varchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomersID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 10/19/2020 11:40:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrdersID] [int] IDENTITY(1,1) NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[Quantity] [int] NULL,
	[CustomersID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrdersID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 
GO
INSERT [dbo].[Customers] ([CustomersID], [Name], [Address], [CustomersImage]) VALUES (1, N'Arefin', N'Dhaka', N'C:\Users\idb_c#\Pictures\image.jpg')
GO
INSERT [dbo].[Customers] ([CustomersID], [Name], [Address], [CustomersImage]) VALUES (2, N'Ashraful Islam', N'Ctg', N'C:\Users\idb_c#\Pictures\image8.jpg')
GO
INSERT [dbo].[Customers] ([CustomersID], [Name], [Address], [CustomersImage]) VALUES (3, N'Elias', N'Noakhali', N'C:\Users\idb_c#\Pictures\image8.jpg')
GO
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 
GO
INSERT [dbo].[Orders] ([OrdersID], [OrderDate], [Quantity], [CustomersID]) VALUES (1, CAST(N'2020-05-01T00:00:00.000' AS DateTime), 12, 2)
GO
INSERT [dbo].[Orders] ([OrdersID], [OrderDate], [Quantity], [CustomersID]) VALUES (2, CAST(N'2020-10-10T00:00:00.000' AS DateTime), 7, 3)
GO
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([CustomersID])
REFERENCES [dbo].[Customers] ([CustomersID])
GO
USE [master]
GO
